@font-face {
  font-family: "TTLakes";
  src: url("../assets/fonts/TTLakes-Regular.ttf");
  src: url("../assets/fonts/TTLakes-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
* {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: TTLakes;
  background-color: #f8f8f8;
  color: black;
}
@media (min-width: 769px) and (max-width: 1150px) {
  body {
    -webkit-transform: scale(0.0869565217vw);
            transform: scale(0.0869565217vw);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    width: 100vw;
    overflow-x: hidden;
  }
}
body button:hover {
  cursor: pointer;
}
body body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1440px) {
  body body-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body body-wrapper body-wrapper_aside {
  width: 320px;
  min-height: 2225px;
  background-color: white;
}
@media (min-width: 0px) and (max-width: 1150px) {
  body body-wrapper body-wrapper_aside {
    display: none;
  }
}
body body-wrapper body-wrapper_aside header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body body-wrapper body-wrapper_aside header img {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
body body-wrapper body-wrapper_aside header button {
  all: unset;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 35px;
}
body body-wrapper body-wrapper_aside header button img {
  padding: 0;
  display: block;
}
body body-wrapper body-wrapper_aside ul {
  list-style: none;
  padding-left: 20px;
}
body body-wrapper body-wrapper_aside ul li {
  padding-bottom: 25px;
}
body body-wrapper body-wrapper_aside ul li:last-child {
  margin-bottom: 220px;
}
body body-wrapper body-wrapper_aside ul li:hover {
  color: #bdbdbd;
}
body body-wrapper body-wrapper_aside ul li:hover:before {
  height: 100%;
}
body body-wrapper body-wrapper_aside footer .uslugi button {
  all: unset;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 20px;
}
body body-wrapper body-wrapper_aside footer .uslugi button img {
  padding: 0;
  display: block;
}
body body-wrapper body-wrapper_aside footer .uslugi button:hover {
  cursor: pointer;
}
body body-wrapper body-wrapper_aside footer .uslugi__mail {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 15px 20px 15px 20px;
}
body body-wrapper body-wrapper_aside footer .uslugi__tel {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0 20px 15px 20px;
  font-family: "TTLakes";
  font-size: 24px;
  font-weight: bold;
}
body body-wrapper body-wrapper_aside footer .uslugi__languages {
  padding-left: 20px;
  font-weight: 500;
}
body body-wrapper body-wrapper_aside footer .uslugi__languages span:hover {
  color: grey;
}
body body-wrapper body-wrapper_main {
  width: 100%;
  height: 1925px;
}
@media (min-width: 426px) and (max-width: 768px) {
  body body-wrapper body-wrapper_main {
    width: 768px;
  }
}
@media (min-width: 0px) and (max-width: 425px) {
  body body-wrapper body-wrapper_main {
    max-width: 100%;
  }
}
body body-wrapper body-wrapper_main .header__mobile {
  background-color: white;
  height: 85px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1150px) {
  body body-wrapper body-wrapper_main .header__mobile {
    display: none;
  }
}
body body-wrapper body-wrapper_main .header__mobile .header__mobile--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
}
@media (min-width: 0px) and (max-width: 425px) {
  body body-wrapper body-wrapper_main .header__mobile .header__mobile--first {
    padding: 0;
  }
}
body body-wrapper body-wrapper_main .header__mobile .header__mobile--first .header__mobile--burger2 {
  all: unset;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 426px) {
  body body-wrapper body-wrapper_main .header__mobile .header__mobile--first .header__mobile--burger2 {
    display: none;
  }
}
body body-wrapper body-wrapper_main .header__mobile .header__mobile--first .header__mobile--burger2::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 2px;
  height: 100%;
  background-color: #7e7e82;
  opacity: 0.3;
}
body body-wrapper body-wrapper_main .header__mobile .header__mobile--first .header__tablet--burger2 {
  all: unset;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 1px) and (max-width: 425px) {
  body body-wrapper body-wrapper_main .header__mobile .header__mobile--first .header__tablet--burger2 {
    display: none;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  body body-wrapper body-wrapper_main .header__mobile .header__mobile--first .header__tablet--burger2 {
    display: block;
  }
}
body body-wrapper body-wrapper_main .header__mobile .header__mobile--first .header__tablet--burger2::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 2px;
  height: 100%;
  background-color: #7e7e82;
  opacity: 0.3;
}
body body-wrapper body-wrapper_main .header__mobile .header__mobile--group {
  padding-left: 30px;
}
body body-wrapper body-wrapper_main .header__mobile--second {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0px) and (max-width: 425px) {
  body body-wrapper body-wrapper_main .header__mobile--second {
    display: none;
  }
}
body body-wrapper body-wrapper_main .header__mobile--third {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 0px) and (max-width: 425px) {
  body body-wrapper body-wrapper_main .header__mobile--third {
    padding: 0;
  }
}
body body-wrapper body-wrapper_main .header__mobile--third .header__mobile--chapCopy {
  all: unset;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 0px) and (max-width: 425px) {
  body body-wrapper body-wrapper_main .header__mobile--third .header__mobile--chapCopy {
    display: none;
  }
}
body body-wrapper body-wrapper_main .header__mobile--third .header__mobile--chat {
  all: unset;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 0px) and (max-width: 425px) {
  body body-wrapper body-wrapper_main .header__mobile--third .header__mobile--chat {
    display: none;
  }
}
body body-wrapper body-wrapper_main .header__mobile--third .header__mobile--repair {
  all: unset;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
body body-wrapper body-wrapper_main .header__mobile--third .header__mobile--checkstatus {
  all: unset;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
body body-wrapper body-wrapper_main .header__mobile--third .header__mobile--profile {
  all: unset;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (min-width: 0px) and (max-width: 425px) {
  body body-wrapper body-wrapper_main .header__mobile--third .header__mobile--profile {
    display: none;
    padding: 0;
  }
}
body body-wrapper body-wrapper_main .header__mobile--third .header__mobile--profile::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 2px;
  height: 100%;
  background-color: #7e7e82;
  opacity: 0.3;
}
body body-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body body-wrapper header h1 {
  margin: 0;
  padding-left: 30px;
  padding-top: 50px;
  font-weight: bold;
}
@media (min-width: 1px) and (max-width: 1150px) {
  body body-wrapper header h1 {
    padding: 20px 0 20px 30px;
  }
}
body body-wrapper header .second__header--div {
  margin-left: auto;
  margin-right: 30px;
}
@media (min-width: 0px) and (max-width: 1150px) {
  body body-wrapper header .second__header--div {
    display: none;
  }
}
body body-wrapper header .second__header--divSecond {
  margin-right: 30px;
}
@media (min-width: 0px) and (max-width: 1150px) {
  body body-wrapper header .second__header--divSecond {
    display: none;
  }
}
body body-wrapper header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  height: 40px;
  outline: none;
}
body body-wrapper header div span {
  margin-right: 15px;
}
body body-wrapper header div button {
  all: unset;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
body body-wrapper header div button img {
  padding: 0;
  display: block;
}
body body-wrapper .main .main__uslugi {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 30px;
  margin: 0 0 0 30px;
}
@media (min-width: 768px) {
  body body-wrapper .main .main__uslugi {
    display: none;
  }
}
@media (min-width: 769px) {
  body body-wrapper .main .main__uslugi {
    margin: 0 0 0 60px;
    padding: 10px;
  }
}
body body-wrapper .main .main__uslugi.swiper-container {
  overflow: hidden;
}
@media (min-width: 1px) and (max-width: 768px) {
  body body-wrapper .main .main__uslugi .main__wrapper {
    padding: 5px;
  }
}
@media (min-width: 769px) {
  body body-wrapper .main .main__uslugi .main__wrapper {
    margin: 30px 0 10px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-column-gap: 51px;
       -moz-column-gap: 51px;
            column-gap: 51px;
  }
}
body body-wrapper .main .main__uslugi .main__wrapper .main__slde {
  position: relative;
}
body body-wrapper .main .main__uslugi .main__wrapper .main__slde::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid transparent;
  border-radius: 5%;
  background-color: transparent;
  pointer-events: none;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body body-wrapper .main .main__uslugi .main__wrapper .main__slde:hover::before {
  background-color: white;
  border-color: #10e3c7;
}
@media (min-width: 769px) {
  body body-wrapper .main .main__uslugi .main__wrapper .main__slde {
    width: auto !important;
  }
}
body body-wrapper .main .main__uslugi2 {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 30px;
  margin: 0 0 0 30px;
}
@media (min-width: 0) and (max-width: 767px) {
  body body-wrapper .main .main__uslugi2 {
    display: none;
  }
}
@media (min-width: 769px) {
  body body-wrapper .main .main__uslugi2 {
    margin: 0 0 0 60px;
    padding: 10px;
  }
}
body body-wrapper .main .main__uslugi2.swiper-container5 {
  overflow: hidden;
}
@media (min-width: 1px) and (max-width: 768px) {
  body body-wrapper .main .main__uslugi2 .main__wrapper2 {
    padding: 5px;
  }
}
@media (min-width: 769px) {
  body body-wrapper .main .main__uslugi2 .main__wrapper2 {
    margin: 30px 0 10px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-column-gap: 51px;
       -moz-column-gap: 51px;
            column-gap: 51px;
  }
}
body body-wrapper .main .main__uslugi2 .main__wrapper2 .main__slde2 {
  position: relative;
}
body body-wrapper .main .main__uslugi2 .main__wrapper2 .main__slde2::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid transparent;
  border-radius: 5%;
  background-color: transparent;
  pointer-events: none;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body body-wrapper .main .main__uslugi2 .main__wrapper2 .main__slde2:hover::before {
  background-color: white;
  border-color: #10e3c7;
}
@media (min-width: 769px) {
  body body-wrapper .main .main__uslugi2 .main__wrapper2 .main__slde2 {
    width: auto !important;
  }
}
@media (min-width: 769px) {
  body body-wrapper .main .main__uslugi2 .swiper-wrapper {
    -webkit-transform: none !important;
            transform: none !important;
  }
}
body body-wrapper .main .main__opisanie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 0px) and (max-width: 425px) {
  body body-wrapper .main .main__opisanie {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  body body-wrapper .main .main__opisanie {
    font-size: 14px;
  }
}
body body-wrapper .main .main__opisanie div {
  padding: 0 30px 0 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 426px) and (max-width: 768px) {
  body body-wrapper .main .main__opisanie div {
    width: 312px;
    height: 160px;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  body body-wrapper .main .main__opisanie div .main__opisanie--360 {
    display: block;
  }
}
body body-wrapper .main .main__opisanie div .main__opisanie--button {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  body body-wrapper .main .main__opisanie div .main__opisanie--button {
    display: none !important;
  }
}
body body-wrapper .main .main__opisanie div .main__opisanie--button:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
body body-wrapper .main .main__opisanie div .main__opisanie--button2 {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body body-wrapper .main .main__opisanie div .main__opisanie--button2:before {
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
@media (min-width: 1px) and (max-width: 768px) {
  body body-wrapper .main .main__opisanie div .main__opisanie--button2 {
    display: none;
  }
}
@media (min-width: 768px) {
  body body-wrapper .main .main__opisanie div .main__opisanie--button2 {
    display: none !important;
  }
}
body body-wrapper .main .main__opisanie div .main__opisanie--button3 {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1px) and (max-width: 767px) {
  body body-wrapper .main .main__opisanie div .main__opisanie--button3 {
    display: none !important;
  }
}
@media (min-width: 768px) {
  body body-wrapper .main .main__opisanie div .main__opisanie--button3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
body body-wrapper .main .main__opisanie div .main__opisanie--button3:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
body body-wrapper .main .main__opisanie div .main__opisanie--button4 {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body body-wrapper .main .main__opisanie div .main__opisanie--button4:before {
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
@media (min-width: 1px) and (max-width: 767px) {
  body body-wrapper .main .main__opisanie div .main__opisanie--button4 {
    display: none !important;
  }
}
@media (min-width: 768px) {
  body body-wrapper .main .main__opisanie div .main__opisanie--button4 {
    display: none;
  }
}
body body-wrapper .main .main__opisanie .main__opisanie--img {
  margin-right: 30px;
}
@media (min-width: 426px) and (max-width: 768px) {
  body body-wrapper .main .main__opisanie .main__opisanie--img {
    width: 360px;
    height: 208px;
  }
}
@media (min-width: 0px) and (max-width: 425px) {
  body body-wrapper .main .main__opisanie .main__opisanie--img {
    width: 100%;
    height: 176px;
    margin: 15px 0 0 0;
  }
}
body .main__span {
  padding: 50px 0 35px 0;
  overflow: hidden;
}
body .main__span .main__span2 {
  display: inline-block;
  color: #7e7e82;
  background: -webkit-gradient(linear, left top, right top, from(#f8f8f8), to(white));
  background: linear-gradient(to right, #f8f8f8, white);
  line-height: 40px;
  width: 100%;
  vertical-align: middle;
  padding-left: 30px;
  border-top: 1px solid #d9fffd;
}
@media (min-width: 0px) and (max-width: 426px) {
  body .main__span .main__span2 {
    max-width: 100%;
  }
}
body .main__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 425px) {
  body .main__brands {
    margin: 0 0 0 30px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  body .main__brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    padding: 0 30px 0 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 426px) {
  body .main__brands {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 426px) {
  body .main__brands .brands__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 20px;
  }
}
@media (min-width: 1024px) {
  body .main__brands .brands__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 20px;
  }
}
@media (min-width: 1300px) {
  body .main__brands .brands__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 20px;
  }
}
body .main__brands .main__brands--brands {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 5%;
  width: 240px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .main__brands .main__brands--brands {
    width: 224px;
  }
}
@media (min-width: 0px) and (max-width: 425px) {
  body .main__brands .main__brands--hide {
    width: 224px;
    visibility: hidden;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  body .main__brands .main__brands--hide {
    width: 224px;
    height: 72px;
    visibility: hidden;
  }
}
@media (min-width: 769px) {
  body .main__brands .main__brands--hide {
    width: 224px;
    visibility: hidden;
  }
}
body .main__brands .swiper-pagination4 {
  margin-left: 31%;
}
@media (min-width: 426px) {
  body .main__brands .swiper-pagination4 {
    display: none;
  }
}
body .main__brands--button {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 30px;
}
body .main__brands--button:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .main__brands--button {
    margin-right: auto;
  }
}
@media (min-width: 1px) and (max-width: 426px) {
  body .main__brands--button {
    display: none;
  }
}
@media (min-width: 1300px) {
  body .main__brands--button {
    display: none !important;
  }
}
body .main__brands--buttonHide {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 30px;
  display: none;
}
body .main__brands--buttonHide:before {
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .main__brands--buttonHide {
    margin-right: auto;
  }
}
@media (min-width: 1px) and (max-width: 426px) {
  body .main__brands--buttonHide {
    display: none;
  }
}
@media (min-width: 1300px) {
  body .main__brands--buttonHide {
    display: none !important;
  }
}
body .main__brands--buttonLaptop {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 30px;
}
body .main__brands--buttonLaptop:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
@media (min-width: 1px) and (max-width: 1300px) {
  body .main__brands--buttonLaptop {
    display: none !important;
  }
}
@media (min-width: 1300px) {
  body .main__brands--buttonLaptop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
body .main__brands--buttonLaptopHide {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 30px;
  display: none;
}
body .main__brands--buttonLaptopHide:before {
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
@media (min-width: 1px) and (max-width: 1300px) {
  body .main__brands--buttonLaptopHide {
    display: none !important;
  }
}
@media (min-width: 1300px) {
  body .main__brands--buttonLaptopHide {
    display: none;
  }
}
body .remont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px 0 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 425px) {
  body .remont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 30px;
    padding: 0;
    row-gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
}
body .remont .swiper-pagination3 {
  margin-left: 31%;
}
@media (min-width: 426px) {
  body .remont .swiper-pagination3 {
    display: none;
  }
}
body .remont .remont__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 426px) and (max-width: 1024px) {
  body .remont .remont__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1025px) {
  body .remont .remont__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
body .remont .remont__wrapper .remont__button {
  width: 240px;
  height: 160px;
  border: 1px solid lightgrey;
  border-radius: 5%;
  background: white;
  position: relative;
}
@media (min-width: 426px) and (max-width: 1024px) {
  body .remont .remont__wrapper .remont__button {
    width: 32%;
  }
}
@media (min-width: 1025px) {
  body .remont .remont__wrapper .remont__button {
    width: 23%;
  }
}
body .remont .remont__wrapper .remont__button span {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 0 0 15px;
}
body .remont .remont__wrapper .remont__button img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 15px 15px 0;
}
body .remont__button2 {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 30px;
}
@media (min-width: 0px) and (max-width: 425px) {
  body .remont__button2 {
    display: none;
  }
}
@media (min-width: 1300px) {
  body .remont__button2 {
    display: none !important;
  }
}
body .remont__button2:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
body .remont__buttonHide2 {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 30px;
}
@media (min-width: 0px) and (max-width: 1300px) {
  body .remont__buttonHide2 {
    display: none;
  }
}
@media (min-width: 1300px) {
  body .remont__buttonHide2 {
    display: none !important;
  }
}
body .remont__buttonHide2:before {
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
body .remont__buttonLaptop2 {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 30px;
}
@media (min-width: 0px) and (max-width: 1300px) {
  body .remont__buttonLaptop2 {
    display: none !important;
  }
}
@media (min-width: 1300px) {
  body .remont__buttonLaptop2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
body .remont__buttonLaptop2:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
body .remont__buttonLaptopHide2 {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 30px;
}
@media (min-width: 0px) and (max-width: 1300px) {
  body .remont__buttonLaptopHide2 {
    display: none !important;
  }
}
@media (min-width: 1300px) {
  body .remont__buttonLaptopHide2 {
    display: none;
  }
}
body .remont__buttonLaptopHide2:before {
  display: inline-block;
  content: url(../assets/img/expand.svg);
  height: 24px;
  width: 24px;
}
body .uslugiCost {
  padding: 0 30px 0 30px;
}
@media (min-width: 0px) and (max-width: 425px) {
  body .uslugiCost {
    display: none;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  body .uslugiCost {
    font-size: 14px;
  }
}
body .uslugiCost .uslugiCost__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 15px 0;
  color: #7e7e82;
  font-size: 11px;
}
body .uslugiCost .uslugiCost__main .uslugiCost__span1 {
  padding-left: 20px;
  width: 480px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__main .uslugiCost__span1 {
    width: 51%;
  }
}
body .uslugiCost .uslugiCost__main .uslugiCost__span2 {
  width: 250px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__main .uslugiCost__span2 {
    width: 14%;
  }
}
body .uslugiCost .uslugiCost__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div1 button:hover {
  cursor: pointer;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div1 .uslugiCost__span2nd {
  width: 480px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div1 .uslugiCost__span2nd {
    width: 57%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div1 .uslugiCost__span3rd {
  width: 250px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div1 .uslugiCost__span3rd {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div1 .uslugiCost__span4thh {
  width: auto;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div1 .uslugiCost__span4thh {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div1 .uslugiCost__button {
  all: unset;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  width: 119px;
  height: 32px;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #7e7e82;
  opacity: 0.5;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div2 button:hover {
  cursor: pointer;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div2 .uslugiCost__span2nd {
  width: 480px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div2 .uslugiCost__span2nd {
    width: 57%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div2 .uslugiCost__span3rd {
  width: 250px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div2 .uslugiCost__span3rd {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div2 .uslugiCost__span4thh {
  width: auto;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div2 .uslugiCost__span4thh {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div2 .uslugiCost__button {
  all: unset;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  width: 119px;
  height: 32px;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #7e7e82;
  opacity: 0.5;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div3 button:hover {
  cursor: pointer;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div3 .uslugiCost__span2nd {
  width: 480px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div3 .uslugiCost__span2nd {
    width: 57%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div3 .uslugiCost__span3rd {
  width: 250px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div3 .uslugiCost__span3rd {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div3 .uslugiCost__span4thh {
  width: auto;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div3 .uslugiCost__span4thh {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div3 .uslugiCost__button {
  all: unset;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  width: 119px;
  height: 32px;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #7e7e82;
  opacity: 0.5;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div4 button:hover {
  cursor: pointer;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div4 .uslugiCost__span2nd {
  width: 480px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div4 .uslugiCost__span2nd {
    width: 57%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div4 .uslugiCost__span3rd {
  width: 250px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div4 .uslugiCost__span3rd {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div4 .uslugiCost__span4thh {
  width: auto;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div4 .uslugiCost__span4thh {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div4 .uslugiCost__button {
  all: unset;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  width: 119px;
  height: 32px;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div4::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #7e7e82;
  opacity: 0.5;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div5 button:hover {
  cursor: pointer;
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div5 .uslugiCost__span2nd {
  width: 480px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div5 .uslugiCost__span2nd {
    width: 57%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div5 .uslugiCost__span3rd {
  width: 250px;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div5 .uslugiCost__span3rd {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div5 .uslugiCost__span4thh {
  width: auto;
}
@media (min-width: 360px) and (max-width: 768px) {
  body .uslugiCost .uslugiCost__body .uslugiCost__body--div5 .uslugiCost__span4thh {
    width: 15%;
  }
}
body .uslugiCost .uslugiCost__body .uslugiCost__body--div5 .uslugiCost__button {
  all: unset;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  width: 119px;
  height: 32px;
}
body .uslugiCost__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .uslugiCost__mobile .uslugiCost__mobile--wrapper {
  margin: 10px;
}
body .uslugiCost__mobile.swiper-container2 {
  overflow: hidden;
}
@media (min-width: 426px) {
  body .uslugiCost__mobile {
    display: none;
  }
}
body .uslugiCost__mobile .uslugiCost__mobile--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  width: 100%;
  border-radius: 5%;
}
body .uslugiCost__mobile .uslugiCost__mobile--block.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
body .uslugiCost__mobile .uslugiCost__mobile--block.swiper-slide .uslugiCost__mobile--margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  height: 160px;
  width: 230px;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--first {
  width: 260px;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--first .uslugiCost__mobile--span {
  color: #7e7e82;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--second span {
  display: block;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--second .uslugiCost__mobile--span {
  color: #7e7e82;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--third .uslugiCost__mobile--fifth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  width: 55%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--third .uslugiCost__mobile--fifth span {
  display: block;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--third .uslugiCost__mobile--fifth .uslugiCost__mobile--span {
  color: #7e7e82;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--third .uslugiCost__mobile--six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
body .uslugiCost__mobile .uslugiCost__mobile--block .uslugiCost__mobile--third .uslugiCost__mobile--six .uslugiCost__button--mobile {
  all: unset;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: 20px;
  width: 119px;
  height: 32px;
}
body .uslugiCost__mobile .swiper-pagination2 {
  margin-left: 40%;
}
body .main__finalText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 30px 30px;
  width: 42%;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 425px) {
  body .main__finalText {
    min-width: 80%;
  }
}
body .main__finalButton {
  all: unset;
  position: relative;
  margin-left: 30px;
  font-weight: bold;
}
body .main__finalButton .main__finalButton--span {
  color: #fc0388;
}
body .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 150px 30px 50px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #bdbdbd;
  font-size: 14px;
}
@media (min-width: 0px) and (max-width: 425px) {
  body .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body .footer__main .footer__main--div1 {
  text-align: left;
}
@media (min-width: 0px) and (max-width: 425px) {
  body .footer__main .footer__main--div1 {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 425px) {
  body .footer__main .footer__main--div2 {
    text-align: center;
    padding-top: 15px;
  }
}
body .footer__main .footer__main--div3 {
  text-align: right;
}
@media (min-width: 0px) and (max-width: 425px) {
  body .footer__main .footer__main--div3 {
    text-align: center;
    padding-top: 15px;
  }
}
@media (min-width: 0px) and (max-width: 425px) {
  body .footer__main .footer__main--div3 .footer__main--break {
    display: none;
  }
}
body .okno__laptop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
body .okno__laptop.active {
  display: block;
}
body .okno__laptop--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
body .okno__laptop--feedback {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  width: 30%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
body .okno__laptop--feedback h2 {
  margin-top: 60px;
}
body .okno__laptop--feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .okno__laptop--feedback form input, body .okno__laptop--feedback form textarea {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body .okno__laptop--feedback .okno__laptop--button2 {
  all: unset;
  position: absolute;
  top: 75px;
  left: -65px;
}
body .okno__laptop--feedback .laptop__button--mobile {
  all: unset;
  position: absolute;
  left: 330px;
  margin-top: 20px;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  width: 119px;
  height: 32px;
}
body .okno__laptop--call {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  width: 30%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
body .okno__laptop--call h2 {
  margin-top: 60px;
}
body .okno__laptop--call form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .okno__laptop--call form input, body .okno__laptop--call form textarea {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body .okno__laptop--call .okno__laptop--button {
  all: unset;
  position: absolute;
  top: 75px;
  left: -65px;
}
body .okno__laptop--call .laptop__button--mobile {
  all: unset;
  position: absolute;
  left: 330px;
  margin-top: 20px;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  width: 119px;
  height: 32px;
}
body .okno__tablet {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
body .okno__tablet--feedback {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 35%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2222;
  padding: 20px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
body .okno__tablet--feedback h2 {
  margin-top: 30px;
}
body .okno__tablet--feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .okno__tablet--feedback form input, body .okno__tablet--feedback form textarea {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body .okno__tablet--feedback .okno__tablet--button {
  all: unset;
  position: absolute;
  top: 45px;
  right: -65px;
}
body .okno__tablet--feedback .tablet__button--mobile {
  all: unset;
  position: absolute;
  margin-top: 20px;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  width: 119px;
  height: 32px;
}
body .okno__tablet--burger {
  all: unset;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 20px;
}
body .okno__tablet--block {
  display: none;
  position: fixed;
  background: white;
  min-width: 40%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
body .okno__tablet--block header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}
body .okno__tablet--block header .tablet__cps {
  padding-right: 20px;
  padding-left: 15px;
}
body .okno__tablet--block header .tablet__search {
  all: unset;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 35px;
}
body .okno__tablet--block header .tablet__search img {
  padding: 0;
  display: block;
}
body .okno__tablet--block ul {
  list-style: none;
  padding-left: 20px;
}
body .okno__tablet--block ul li {
  padding-bottom: 25px;
}
body .okno__tablet--block ul li:last-child {
  margin-bottom: 220px;
}
body .okno__tablet--block ul li:hover {
  color: #bdbdbd;
}
body .okno__tablet--block ul li:hover:before {
  height: 100%;
}
body .okno__tablet--block footer .okno__tablet--usligi button {
  all: unset;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 20px;
}
body .okno__tablet--block footer .okno__tablet--usligi button img {
  padding: 0;
  display: block;
}
body .okno__tablet--block footer .okno__tablet--uslugiMail {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 15px 20px 15px 20px;
}
body .okno__tablet--block footer .okno__tablet--uslugiTel {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0 20px 15px 20px;
  font-family: "TTLakes";
  font-size: 24px;
  font-weight: bold;
}
body .okno__tablet--block footer .okno__tablet--uslugiLanguages {
  padding-left: 20px;
  font-weight: 500;
}
body .okno__tablet--block footer .okno__tablet--uslugiLanguages span:hover {
  color: grey;
}
body .okno__tablet--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
body .okno__tablet--call {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 35%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2222;
  padding: 20px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
body .okno__tablet--call h2 {
  margin-top: 30px;
}
body .okno__tablet--call form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .okno__tablet--call form input, body .okno__tablet--call form textarea {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body .okno__tablet--call .okno__tablet--button2 {
  all: unset;
  position: absolute;
  top: 45px;
  right: -65px;
}
body .okno__tablet--call .tablet__button--mobile {
  all: unset;
  position: absolute;
  margin-top: 20px;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  width: 119px;
  height: 32px;
}
body .okno__mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
body .okno__mobile--call {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2222;
}
body .okno__mobile--call h2 {
  margin-top: 80px;
  margin-left: 10px;
  margin-bottom: 0;
}
body .okno__mobile--call form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px;
}
body .okno__mobile--call form input, body .okno__mobile--call form textarea {
  padding: 14px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body .okno__mobile--call .okno__mobile--feedback--footer {
  margin: 0 14px 14px 14px;
}
body .okno__mobile--call .okno__mobile--button {
  all: unset;
  position: absolute;
  top: 25px;
  left: 13px;
}
body .okno__mobile--call .mobile__button--mobile2 {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  margin: 20px 15px 0 auto;
  width: 119px;
  height: 32px;
}
body .okno__mobile--feedback {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2222;
}
body .okno__mobile--feedback h2 {
  margin-top: 80px;
  margin-left: 10px;
  margin-bottom: 0;
}
body .okno__mobile--feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px;
}
body .okno__mobile--feedback form input, body .okno__mobile--feedback form textarea {
  padding: 14px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body .okno__mobile--feedback .okno__mobile--feedback--footer {
  margin: 0 14px 14px 14px;
}
body .okno__mobile--feedback .okno__mobile--button2 {
  all: unset;
  position: absolute;
  top: 25px;
  left: 13px;
}
body .okno__mobile--feedback .mobile__button--mobile {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fc0388;
  border-radius: 50px;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  margin: 20px 15px 0 auto;
  width: 119px;
  height: 32px;
}
body .okno__mobile--burger {
  all: unset;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 20px;
}
body .okno__mobile--block {
  display: none;
  position: fixed;
  background: white;
  min-width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
body .okno__mobile--block header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}
body .okno__mobile--block header .mobile__cps {
  padding-right: 20px;
  padding-left: 15px;
}
body .okno__mobile--block header .mobile__search {
  all: unset;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 35px;
}
body .okno__mobile--block header .mobile__search img {
  padding: 0;
  display: block;
}
body .okno__mobile--block ul {
  list-style: none;
  padding-left: 20px;
}
body .okno__mobile--block ul li {
  padding-bottom: 25px;
}
body .okno__mobile--block ul li:hover {
  color: #bdbdbd;
}
body .okno__mobile--block ul li:hover:before {
  height: 100%;
}
body .okno__mobile--block footer .okno__mobile--usligi button {
  all: unset;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 20px;
}
body .okno__mobile--block footer .okno__mobile--usligi button img {
  padding: 0;
  display: block;
}
body .okno__mobile--block footer .okno__mobile--uslugiMail {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 15px 20px 15px 20px;
}
body .okno__mobile--block footer .okno__mobile--uslugiTel {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 0 20px 15px 20px;
  font-family: "TTLakes";
  font-size: 24px;
  font-weight: bold;
}
body .okno__mobile--block footer .okno__mobile--uslugiLanguages {
  padding-left: 20px;
  font-weight: 500;
}
body .okno__mobile--block footer .okno__mobile--uslugiLanguages span:hover {
  color: grey;
}
body .okno__mobile--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}